<footer class="footer">
  <div class="container_footer">
    <h4 class="copyright">Project #L0V3lace © 2022</h4>
    <ul class="listbottom">
      <li>
        <a class="listbottom__item--link" href="./index.html#team">EQUIPO</a>
      </li>
      <li>
        <a
          class="listbottom__item--link"
          href="./index.html#seccion-quienes-somos"
          >QUIÉNES SOMOS</a
        >
        <!-- A href le doy el valor del id de la sección a la que quiero que me lleve -->
      </li>
      <li>
        <a
          class="listbottom__item--link"
          href="http://127.0.0.1:5500/contacto.html"
          target="_blank"
          >CONTACTO</a
        >
      </li>
    </ul>

    <div>
      <a class="logo" href="https://adalab.es" target="_blank"
        ><img
          class="logo__adalab"
          src="./assets/images/logo-adalab.png"
          alt="logo de adalab"
      /></a>
    </div>
  </div>
</footer>
