<footer class="gray_line">
  <div class="wrapper">
    <div class="footer">
      <div class="footer__copyright">
        <small class="footer__copyright--text">Project #L0V3lace © 2022</small>
      </div>
      <nav class="footer__nav">
        <ul class="footer__nav--menu">
          <li>
            <a class="footer__nav--link" href="./index.html#team">equipo</a>
          </li>
          <li>
            <a
              class="footer__nav--link"
              href="./index.html#seccion-quienes-somos"
              >quiénes somos</a
            >
          </li>
          <li>
            <a class="footer__nav--link" href="./contact.html" target="_blank"
              >contacto</a
            >
          </li>
        </ul>
      </nav>
      <div class="footer__adalab">
        <a href="https://adalab.es" target="_blank"
          ><img
            class="footer__adalab--icon"
            src="./assets/images/logo-adalab.png"
            alt="logo de adalab"
        /></a>
      </div>
    </div>
  </div>
</footer>
