<header>
    <div class="name_equipo">
        <h1 class="title">PROJECT #L0V3LACE</h1>
    </div>
    <nav class="menu_top">
        <ul class="lista">
            <li class="item_menu_top"><a class="bottom_menu_top" href="./index.html#team">EQUIPO</a></li>
            <li class="item_menu_top"><a class="bottom_menu_top" href="./index.html#seccion-quienes-somos">QUIÉNES
                    SOMOS</a>
            </li>
            <li class="item_menu_top"><a class="bottom_menu_top" href="http://127.0.0.1:5500/contacto.html"
                    target="_blank">CONTACTO</a></li>
        </ul>
    </nav>

    <div class="contenedor">
        <img class="escritorio" src="./assets/images/NYB&N.png" alt="imagen escritorio" />
        <div class="contenedor-lema">
            <h3 class="lema">Ninguna de nosotras es tan buena como todas nosotras juntas</h3>
        </div>
    </div>
</header>