<section class="integrantes" id="seccion-quienes-somos">
    <h2 class="quienes_somos">QUIÉNES SOMOS</h2>
    <article class="bio">
        <img src="@@foto" alt="@@fotoalt" class="photo">
        <h4 class="nombre">@@nombre</h4>
        <p class="about">@@about</p>
        <ul class="redes">
            <li class="rrss"><a class="enlaces" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter">
                </a></i></li>
            <li class="punto">·</li>

            <li class="rrss"><a class="enlaces"
                    href="https://www.linkedin.com/in/veronica-isla-garc%C3%ADa-de-leaniz-585b52171/" target="_blank"><i
                        class="fab fa-linkedin-in">
                </a></i></li>
            <li class="punto">·</li>

            <li class="rrss"><a class="enlaces" href="https://github.com/veroisla" target="_blank"><i
                        class="fab fa-github-alt">
                </a></i></li>
            <li class="punto">·</li>

            <li class="rrss"><a class="enlaces" href="mailto:veroislagleaniz@gmail.com" target="_blank"><i
                        class="fas fa-envelope">
                </a></i></li>
        </ul>
    </article>
</section>