<section class="integrantes" id="seccion-quienes-somos">
    <h2 class="quienes_somos">QUIÉNES SOMOS</h2>
    <article class="bio">
        <img src="./assets/images/VeroB&N.png" class="photo" />
        <h4 class="nombre">Verónica <i>Jones</i></h4>
        <p class="about">Antes de empezar esta nueva aventura era trabajadora social y vivía en Nueva York.
            Nunca he creído en las almas gemelas, pero sí en personas muy importantes que te pueden dar lo mejor de sí
            mismas en un momento determinado.
            Tras muchas idas y venidas en mi vida, tanto en el ámbito personal como profesional, decidí hacerme
            programadora, siempre me ha gustado ser de las pioneras y creo que la programación es el futuro.
            Me considero una persona independiente y con gran autoestima, por lo que la frase que me definiría y que
            siempre procuro tener en mente sería: <b>“te quiero, pero me quiero más a mí misma”</b>.
        </p>
        <ul class="redes">
            <li class="rrss"><a class="enlaces" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter">
                </a></i></li>
            <li class="punto">·</li>

            <li class="rrss"><a class="enlaces"
                    href="https://www.linkedin.com/in/veronica-isla-garc%C3%ADa-de-leaniz-585b52171/" target="_blank"><i
                        class="fab fa-linkedin-in">
                </a></i></li>
            <li class="punto">·</li>

            <li class="rrss"><a class="enlaces" href="https://github.com/veroisla" target="_blank"><i
                        class="fab fa-github-alt">
                </a></i></li>
            <li class="punto">·</li>

            <li class="rrss"><a class="enlaces" href="mailto:veroislagleaniz@gmail.com" target="_blank"><i
                        class="fas fa-envelope">
                </a></i></li>
        </ul>
    </article>

    <article class="bio">
        <img src="./assets/images/RocíoB&N.png" class="photo" />
        <h4 class="nombre">Rocío <i>York</i></h4>
        <p class="about">Me críe en Connecticut, donde recibí una educación muy completa, orientada principalmente al
            arte y a los buenos modales.
            Trabajé durante varios años como agente de viajes, y considero que de mis amigas son la más conservadora y
            tradicional.
            La frase que me definiría mejor es: <b>"llevo saliendo con chicos desde que tenía quince años. Estoy
                exhausta,
                ¿¡dónde está ÉL!?"</b>, ya que mi mayor sueño era encontrar a mi “Príncipe Azul”, con el que formar una
            familia.
            Finalmente lo encontré en Harry, mi actual marido, junto al que voy a empezar está nueva y emocionante
            aventura de ser programadora.
        </p>
        <ul class="redes">
            <li class="rrss"><a class="enlaces" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter">
                </a></i></li>
            <li class="punto">·</li>

            <li class="rrss"><a class="enlaces" href="https://www.linkedin.com/in/rocio-del-villar-nolazco/"
                    target="_blank"><i class="fab fa-linkedin-in">
                </a></i></li>
            <li class="punto">·</li>

            <li class="rrss"><a class="enlaces" href="https://github.com/RocioDvn" target="_blank"><i
                        class="fab fa-github-alt">
                </a></i></li>
            <li class="punto">·</li>

            <li class="rrss"><a class="enlaces" href="mailto:rocio.delvillar@gmail.com" target="_blank"><i
                        class="fas fa-envelope">
                </a></i></li>
        </ul>
    </article>

    <article class="bio">
        <img src="./assets/images/ClaraB&N.png" class="photo" />
        <h4 class="nombre">Clara <i>Hobbes</i></h4>
        <p class="about">Tenía una librería bastante exitosa, y mi vida estaba centrada en mi carrera y no creía para
            nada en el amor, pero todo cambió cuando conocí a mi actual pareja.
            Nos hemos mudado a nuestro piso soñado en Nueva York y he decidido dar el salto a la programación para poder
            llevar una vida creativa más allá de los libros, y ayudar a mis clientes creando páginas webs para ellos.
            Una
            frase que considero que me definiría sería: <b>"sexy es como quiero que me vean después de conquistarlos con
                mi personalidad"</b>.
        </p>
        <ul class="redes">
            <li class="rrss"><a class="enlaces" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter">
                </a></i></li>
            <li class="punto">·</li>

            <li class="rrss"><a class="enlaces" href="https://www.linkedin.com/in/claramirandazapata/"
                    target="_blank"><i class="fab fa-linkedin-in">
                </a></i></li>
            <li class="punto">·</li>

            <li class="rrss"><a class="enlaces" href="https://github.com/miranda-zapata" target="_blank"><i
                        class="fab fa-github-alt">
                </a></i></li>
            <li class="punto">·</li>

            <li class="rrss"><a class="enlaces" href="mailto:none" target="_blank"><i class="fas fa-envelope">
                </a></i></li>
        </ul>
    </article>

    <article class="bio">
        <img src="./assets/images/AliciaB&N.png" class="photo" />
        <h4 class="nombre">Alicia <i>Bradshaw</i></h4>
        <p class="about">Escribía en una columna semanal, "Sex and the City", para el periódico <i>The New York
                Star</i>. Me encanta seguir las tendencias, tanto en la moda como en lo social (restaurantes, bares,
            etc) y
            combinar estilos de ropa diferentes es mi pasión. Me declaro una fetichista de los zapatos, no podría vivir
            sin mis <em>Manolos</em>. Definitivamente, una frase que me define es: <b>"me gusta tener mi dinero en donde
                lo pueda ver: colgando en mi armario"</b>.
            Como el mundo de la moda es muy fluctuante he decidido dejar mi apartamento en Nueva York y mudarme con Mr.
            Big, para comenzar una nueva aventura como programadora front-end de la mano de Adalab.
        </p>
        <ul class="redes">
            <li class="rrss"><a class="enlaces" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter">
                </a></i></li>
            <li class="punto">·</li>

            <li class="rrss"><a class="enlaces" href="https://www.linkedin.com/in/alicia-padr%C3%B3n-5b16b2113/"
                    target="_blank"><i class="fab fa-linkedin-in">
                </a></i></li>
            <li class="punto">·</li>

            <li class="rrss"><a class="enlaces" href="https://github.com/aliciaapadron" target="_blank"><i
                        class="fab fa-github-alt">
                </a></i></li>
            <li class="punto">·</li>

            <li class="rrss"><a class="enlaces" href="mailto:aliciaapadron@gmail.com" target="_blank"><i
                        class="fas fa-envelope">
                </a></i></li>
        </ul>
    </article>

</section>