// fonts
$font-family: "Rubik", sans-serif;
// colors
$color-ligth: #ead4d0;
$color: #b58f8f;
$line-color: #e89595;
$color-black: #000000;
$color-white: #ffffff;
$color-darkgrey: #54585a;
$color-ligthgrey: #b8b8b9;
$background-grey: #f1f1f1;

// --verde-claro: #14d9c4;
// --verde-oscuro: #099d8d;
