// fonts
$font-family: "Rubik", sans-serif;

// Nueva paleta de colores
$color-ligth: #8e746f;
$color: #cda5a5;
$color-line: #e89595;
$color-black: #000000;
$color-white: #ffffff;
$color-darkgrey: #54585a;
$color-ligthgrey: #e6e6e8;
$background-grey: #f1f1f1;

// Paleta colores corporativos ADALAB
// --verde-claro: #14d9c4;
// --verde-oscuro: #099d8d;
