/* Estilos sección biografías. BEM aplicado */
.bio {
  text-align: center;
}

.bio__photo {
  width: 180px;
  height: 180px;
  /* margin: 0 55px 15px; */
  border: solid 5px var(--gris-claro);
  border-radius: 4px;
}

.bio__name {
  color: var(--black);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.bio__about {
  color: var(--gris-oscuro);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 15px 30px;
}

.bio__social {
  list-style-type: none;
  margin: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio__social--media {
  list-style-type: none;
  font-size: 20px;
  color: var(--verde-oscuro);
  padding: 0px 15px;
  display: inline-block;
}

.bio__social--dot {
  font-family: "Open Sans", sans-serif;
  color: var(--gris-oscuro);
  font-size: 16px;
  display: inline-block;
}
.bio__social--link {
  color: var(--verde-oscuro);
  text-decoration: none;
  font-family: "FontAwesome5BrandsRegular";
}

/* Mediaqueries tablet */

@media all and (min-width: 768px) {
  .bio {
    display: flex;
    margin: 0px 44px 44px 44px;
    /* Márgenes alrededor del contenedor, menos por arriba que ya nos lo da el QUIÉNES SOMOS */
  }

  .bio__photo {
    width: 205px;
    height: 205px;
  }

  .bio__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 22px;
    /* Margen entre la imagen y el contenedor de la biografía, la mitad que los márgenes exteriores */
  }

  .bio__name,
  .bio__about,
  .bio__social {
    margin: 0;
    /* Que estén lo más pegados posible al borde de su contenedor */
  }

  .bio__about {
    text-align: left;
  }
}

/* Mediaqueries desktop */

@media all and (min-width: 1200px) {
  .bio {
    display: flex;
    margin: 0px 138px 69px 138px;
    /* Márgenes alrededor del contenedor, menos por arriba que ya nos lo da el QUIÉNES SOMOS, y por abajo la mitad para no separarlos demasiado */
  }

  .bio__photo {
    width: 278px;
    height: 278px;
  }

  .bio__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 22px;
    /* Margen entre la imagen y el contenedor de la biografía, la misma que en tablet porque es la que mejor queda */
  }

  .bio__name,
  .bio__about,
  .bio__social {
    margin: 0;
    /* Que estén lo más pegados posible al borde de su contenedor */
  }

  .bio__about {
    text-align: left;
  }
}
