.gray_line {
  border-top: solid 1px var(--gris-claro);
}

.wrapper {
  margin: 0px 15px;
}

.container__footer {
  /*container de todo lo incluido en el footer*/
  background-color: var(--blanco);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.copyright {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: var(--gris-claro);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;

  /*margin: 30px 74px 20px 74px;*/
}

.nav {
  .menubottom {
    /*container de los enlaces*/
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;

    &__link {
      color: var(--gris-oscuro);
      opacity: 0.75;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
    }
  }
}

.logo {
  &__adalab {
    display: block;
    height: 45px;
    margin-bottom: 45px;
  }
}

@media all and (min-width: 768px) {
  .wrapper {
    margin: 0px 45px;
  }
}

@media all and (min-width: 1200px) {
  .wrapper {
    margin: 0px 138px;
  }
}
