.gray_line {
  border-top: solid 1px var(--gris-claro);
}

.wrapper {
  margin: 0px 15px;

  @media all and (min-width: 768px) {
    margin: 0px 45px;
    padding-top: 30px;
    padding-bottom: 60px;
  }
  @media all and (min-width: 1200px) {
    margin: 0px 138px;
    padding-top: 30px;
    padding-bottom: 51px;
  }
}

.footer {
  /*container de todo lo incluido en el footer*/
  background-color: var(--blanco);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer__copyright {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: var(--gris-claro);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;

  /*margin: 30px 74px 20px 74px;*/
}

.footer__nav--menu {
  /*container de los enlaces*/
  list-style: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}

.footer__nav--link {
  color: var(--gris-oscuro);
  opacity: 0.75;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.footer__adalab {
  &--icon {
    display: block;
    height: 45px;
    margin-bottom: 45px;
  }
}

@media all and (min-width: 768px) {
  /*falta espacios entre copyright y adalab, y entre los enlaces*/
  .footer {
    display: grid;
    grid-template-columns: auto auto; /*1fr 1fr*/
    grid-template-rows: auto auto;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer__nav--menu {
    align-items: flex-end;
    grid-column: 2/2;
    grid-row: 1/1;
    margin-bottom: 0px;
  }

  .footer__copyright {
    text-align: left;
    grid-column: 1/1;
    grid-row: 1/2;
    margin-top: 0px;
  }

  .footer__adalab--icon {
    grid-column: 1/1;
    grid-row: 1/2;
    margin-bottom: 0px;
  }
}
