/*.wrapper_contact {
  margin: 0px 15px;

  @media all and (min-width: 768px) {
    margin: 0px 163px;
  }
  @media all and (min-width: 1200px) {
    margin: 0px 300px;
  }
}*/

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px 15px 58px 15px; /*habría que quitar todo esto*/
  /*padding-top:30px; >> DEJAR ESTO
  padding-bottom:58px*/
  &__title {
    text-transform: uppercase;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 1.88;
    font-family: "Rubik", sans-serif;
    color: var(--verde-oscuro);
  }
  &__content {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Open Sans Condensed", sans-serif;
    color: var(--gris-oscuro);
  }

  &__required {
    font-family: "Open Sans Condensed", sans-serif;
    color: var(--gris-oscuro);
    padding-top: 30px;
  }
}
.form__input {
  display: flex;
  flex-direction: column;
  padding: 10px 15px; /*quitar 15px*/
  /*padding-top:10px;
  padding-bottom:10px*/
  &--box {
    height: 45px;
    border: 1px solid var(--gris-claro);
    margin-top: 7px;
  }
  &--textareabox {
    height: 105px;
    border: 1px solid var(--gris-claro);
    margin-top: 7px;
  }
}

label {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  color: var(--gris-oscuro);
}
span {
  color: var(--verde-claro);
}
::placeholder {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  color: var(--gris-claro);
  padding-left: 15px;
  padding-top: 11px;
}
.form__send {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 60px;
  @media all and (min-width: 768px) {
    justify-content: right;
  }
}
.submit {
  text-transform: uppercase;
  width: 290px;
  height: 45px;
  padding: 0 15px;
  background-color: var(--verde-oscuro);
  border-radius: 4px;
  color: white;
  border: 0px;

  @media all and (min-width: 768px) {
    width: 206px;
  }
  @media all and (min-width: 1200px) {
    width: 278px;
  }
}
