// .wrapper_contact {
//   margin: 0px 15px;

// }
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px 15px 58px 15px;
  &__title {
    text-transform: uppercase;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 1.88;
    font-family: "Rubik", sans-serif;
    color: var(--verde-oscuro);
  }
  &__content {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Open Sans Condensed", sans-serif;
    color: var(--gris-oscuro);
  }
  &__required {
    font-family: "Open Sans Condensed", sans-serif;
    color: var(--gris-oscuro);
    padding-top: 30px;
  }
}
