.name {
  background-color: var(--verde-oscuro);
  padding: 20px;
  color: var(--blanco);
  text-align: center;

  &__title {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 1.88;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.menutop {
  background-color: var(--verde-claro);
  display: flex;
  align-items: center;
  justify-content: center;
  @media all and (min-width: 768px) {
    background-color: var(--verde-oscuro);
    justify-content: none;
  }
}

.list {
  display: inline;
  &__item {
    list-style: none;
    display: inline;
    /* margin: 100px;
  padding: 50px; */
    font-size: 15px;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    color: var(--blanco);
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
  }
  .list__item--link {
    color: var(--blanco);
  }
}

@media all and (min-width: 768px) {
  .cont_header {
    background-color: var(--verde-oscuro);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
}
