.teamcontainer {
  margin: 0, 15px;
}
.team {
  padding: 30px 15px;
}

.team__title {
  font-size: 24px;
  line-height: 1.88;
  font-family: "Rubik", sans-serif;
  color: var(--verde-claro);
  font-weight: bold;
  text-align: center;
}

.team__title--article1,
.dafo__article2,
.dafo__article3 {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: var(--gris-oscuro);
  text-align: center;
  margin: 15px;
  position: relative;
}
article.dafo__article2 {
  margin-bottom: 35px;
}

.squarecontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.squarecontainer__square {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  background-color: var(--blanco);
  position: absolute;
  margin-top: -15px;
}

.dafo {
  padding: 30px 15px;
  background-color: var(--gris-fondo);
}
.dafo__article2--strengths,
.dafo__article2--greatest {
  font-size: 22px;
  font-family: "Rubik", sans-serif;
  color: var(--verde-oscuro);
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media all and (min-width: 768px) {
  .team {
    padding: 45px 45px 30px 45px;
  }
  .dafo {
    padding: 45px 45px 60px 45px;
    display: flex;
  }

  .dafo__article2,
  .dafo__article3 {
    width: 50%;
  }

  .dafo__article2 {
    padding-right: 15px;
  }
  .dafo__article3 {
    padding-left: 15px;
  }
}
@media all and (min-width: 1200px) {
  .team {
    padding: 45px 300px 60px 300px;
  }
  .dafo {
    padding: 45px 138px 60px 138px;
    display: flex;
  }

  .dafo__article2,
  .dafo__article3 {
    width: 50%;
  }
  .dafo__article2 {
    padding-right: 22.5px;
  }
  .dafo__article3 {
    padding-left: 22.5px;
  }
}
