@import "layout/header";
@import "layout/main1";
@import "layout/bios";
@import "layout/footer";

:root {
  --black: #000000;
  --verde-claro: #14d9c4;
  --verde-oscuro: #099d8d;
  --blanco: #ffffff;
  --gris-oscuro: #54585a;
  --gris-claro: #b8b8b9;
  --gris-fondo: #f1f1f1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
/* He tenido que poner este reset porque el DevTools me marcaba un padding extraño en el ul que no lograba encontrar en la hoja de reset */

a:link {
  text-decoration: none;
  /* a: link: al poner esto todos los enlaces dejan de tener la linea de subrayado, a:visited no cambia el color del enlace al pulsarlo */
}

/* Header */

/* Main1 */

/* Main2*/
.who {
  background-color: var(--blanco);
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.who__title {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: var(--verde-oscuro);
  /* margin-top: 40px; */
  margin-bottom: 30px;
  text-transform: uppercase;
}

.align__left {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.align__right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: right;
}

/* Bios */

/*Footer*/
