/* fuentes:
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;
-Colores
Verde oscuro: #099d8d
Verde claro: #14d9c4
Blanco: #ffffff
Negro: #000000
Gris oscuro: #54585a
Gris claro: #b8b8b9
Gris de fondo: #f1f1f1

*/

:root {
  --black: #000000;
  --verde-claro: #14d9c4;
  --verde-oscuro: #099d8d;
  --blanco: #ffffff;
  --gris-oscuro: #54585a;
  --gris-claro: #b8b8b9;
  --gris-fondo: #f1f1f1;
}

a:link {
  text-decoration: none; /*a: link: al poner esto todos los enlaces dejan de tener la linea de subrayado, a:visited no cambia el color del enlace al pulsarlo */
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}
.escritorio {
  width: 50%;
  height: 50%;
}
.lema {
  font-size: 18px;
  font-family: "Open Sans Condensed", sans-serif;
  color: var(--black);
  font-weight: bold;
  background-color: var(--blanco);
}
.titulo_equipo {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  color: var(--verde-oscuro);
  font-weight: bold;
  text-align: center;
}

.footer {
  border: solid 1px var(--gris-claro);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.copyright {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: var(--gris-claro);
  text-align: center;
}

.menu_bottom {
  border: solid red 1px;
  box-sizing: border-box;
}

.item_menu_bottom {
  color: var(--gris-claro);
  opacity: 0, 75;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  outline: none;
  font-weight: bold;
}

.item-logo-adalab {
  border: 1px solid red;
  display: flex;
  border-bottom: 45px;
}
