/* fuentes:
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;
-Colores
Verde oscuro: #099d8d
Verde claro: #14d9c4
Blanco: #ffffff
Negro: #000000
Gris oscuro: #54585a
Gris claro: #b8b8b9
Gris de fondo: #f1f1f1
*/

:root {
  --black: #000000;
  --verde-claro: #14d9c4;
  --verde-oscuro: #099d8d;
  --blanco: #ffffff;
  --gris-oscuro: #54585a;
  --gris-claro: #b8b8b9;
  --gris-fondo: #f1f1f1;
}

a:link {
  text-decoration: none; /*a: link: al poner esto todos los enlaces dejan de tener la linea de subrayado, a:visited no cambia el color del enlace al pulsarlo */
}

/* Header */
.name_equipo {
  background-color: var(--verde-oscuro);
  padding: 20px;
  color: var(--blanco);
  text-align: center;
}

.title {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 500;
}
.menu_top {
  background-color: var(--verde-claro);
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.lista {
  display: inline;
  /* margin-left: 15px;
  margin-right: 15px; */
}
.item_menu_top {
  list-style: none;
  display: inline;
  /* margin: 100px;
  padding: 50px; */
  font-size: 15px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  color: var(--blanco);
  margin-left: 10px;
  margin-right: 10px;
}
.bottom_menu_top {
  color: var(--blanco);
}

.escritorio {
  background-size: cover;
  background-position: center;
  width: 100%;
  /* width: 120%;
  height: 100vh; */
}

.contenedor {
  position: relative;
  display: inline-block;
  /* text-align: center; */
}

.contenedor-lema {
  color: var(--black);
  background-color: var(--blanco);
  position: absolute;
  /* display: inline-block; */
  text-align: center;
  /* border: solid fuchsia 1px; */
  /* display: flex; */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -40px;
  padding: 10px;
  /* position: absolute; */
}
.lema {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.39;
  font-family: "Open Sans Condensed", sans-serif;
}
/*Main, parte uno */
.team5 {
  padding: 30px 15px 15px;
}
.contenedor-cuadrado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cuadrado {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  background-color: var(--blanco);
  position: absolute;
  margin-top: -15px;
}

.titulo_equipo {
  font-size: 24px;
  line-height: 1.88;
  font-family: "Rubik", sans-serif;
  color: var(--verde-claro);
  font-weight: bold;
  text-align: center;
}

.article1,
.article2,
.article3 {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: var(--gris-oscuro);
  text-align: center;
  margin: 15px;
  position: relative;
}
article.article2 {
  margin-bottom: 35px;
}

.dafo {
  padding: 30px 15px;
  background-color: var(--gris-fondo);
}

.fortalezas,
.debilidades {
  font-size: 22px;
  font-family: "Rubik", sans-serif;
  color: var(--verde-oscuro);
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*Main parte, 2*/
.integrantes {
  background-color: var(--blanco);
  text-align: center;
  padding: 30px 15px 45px 15px;
  width: 100%;
}

.quienes_somos {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: var(--verde-oscuro);
  /* margin-top: 40px; */
  margin-bottom: 30px;
}

.bio {
  text-align: center;
  padding: 30px 0 0 0;
}

.photo {
  width: 180px;
  height: 180px;
  /* margin: 0 55px 15px; */
  border: solid 5px var(--gris-claro);
  border-radius: 4px;
}

.nombre {
  color: var(--black);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.about {
  color: var(--gris-oscuro);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

.redes {
  list-style-type: none;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rrss {
  list-style-type: none;
  font-size: 20px;
  color: var(--verde-oscuro);
  padding: 0px 15px;
  margin-bottom: 45px;
  display: inline-block;
}

.punto {
  font-family: "Open Sans", sans-serif;
  color: var(--gris-oscuro);
  font-size: 16px;
  display: inline-block;
}

.enlaces {
  color: var(--verde-oscuro);
  text-decoration: none;
  font-family: "FontAwesome5BrandsRegular";
}

/* ************************************************************************************************************************* */

/*Footer*/
.container_footer {
  /*container de todo lo incluido en el footer*/

  border-top: solid 1px var(--gris-claro); /*esto no sé si hay que ponerlo, hay como un borde gris*/
  background-color: var(--blanco);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 74px 45px 74px;
  width: 100%;
}

.copyright {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: var(--gris-claro);
  text-align: center;
  box-sizing: border-box;
  display: block;
  margin-top: 30px;
  margin-left: 74px;
  margin-right: 74px;
}

.menu_bottom {
  /*container de los enlaces*/

  list-style: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px; /*aquí ya le estoy dando el margin-top30px del logo*/
  margin-top: 20px;
  padding-left: 15px; /*ver si esto esta bien, mira medidas!!!*/
  /*el padding me lo separa de la caja madre, ver si para los margenes puedo usar padding?*/
}

a.item_menu_bottom {
  /*esto esta bien no cambiar */
  color: var(--gris-oscuro);
  opacity: 0.75;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  line-height: 1.43;
}

.logo_adalab {
  display: block;
  margin: 0px 102.1px 45px 102px;
  height: 45px;
  width: 115.9px;
}
