/* fuentes:
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;
-Colores
Verde oscuro: #099d8d
Verde claro: #14d9c4
Blanco: #ffffff
Negro: #000000
Gris oscuro: #54585a
Gris claro: #b8b8b9
Gris de fondo: #f1f1f1

*/

.root {
  --black: #000000;
  --verde-claro: #14d9c4;
  --verde-oscuro: #099d8d;
  --blanco: #ffffff;
  --gris-oscuro: #54585a;
  --gris-claro: #b8b8b9;
  --gris-fondo: #f1f1f1;
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}
.escritorio {
  width: 50%;
  height: 50%;
}
.lema {
  font-size: 18px;
  font-family: "Open Sans Condensed", sans-serif;
  color: #000000;
  font-weight: bold;
  background-color: var(--blanco);
}
.titulo_equipo {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  color: var(--verde-oscuro);
  font-weight: bold;
  text-align: center;
}

.copyright {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: var(--gris-claro);
  text-align: center;
}

.menu_bottom {
  border: black solid 1px;
  box-sizing: border-box;
}
